.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 550px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.Title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    line-height: 1.2;
    margin: 0;
    text-align: center;
}

.Close {
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 15px;
}
